@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(photos/clear-night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.weather-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    background-color: #2b272771;
    color: white;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.search {
    width: 200px;
    height: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1rem;
}

.search::placeholder {
    color: white;
    font-size: 1rem;
}

.search:focus {
    outline: none;
}

/* Main container starts here */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    color: white;
    padding: 40px;
    background-color: #2b272771;
    margin: 40px;
    height: 500px;
    min-width: 300px;
    flex-grow: 1;
}

.location {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
    text-align: center;
}

.forecast {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 20px;
}

.day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}

.day-forecast {
    display: flex;
    align-items: center;
    gap: 10px;
}

.time {
    font-size: 32px;
}

.tomorrow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.svg {
    filter: invert(100%) sepia(9%) saturate(3%) hue-rotate(10deg) brightness(120%) contrast(100%);
    height: 70px;
    width: auto;
}